:root{
    --primary-font: 'Roboto',sans-serif;
    --secondary-font: 'Raleway',sans-serif;
    --accent-color: #2196F3;
    --primary-text-color: #212121;
    --secondary-text-colour: #757575;
    --primary-text-color-theme-dark: #FFFFFF;
}

.link {
    text-decoration: none;
    font-style: normal;
}
.list {
    list-style: none;
}

body{
    font-family: var(--primary-font)
    color: var(--primary-text-color);
}

/* ====Header==== */
.logo{
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    letter-spacing: 0.03em;

    color: var(--accent-color);
}
.logo-second{
    color: #000000;
}

.link-nav{
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
}
.link-nav:hover,
.link-nav:focus{
    color: var(--accent-color);
}
.contact-header-link{
    color: var(--secondary-text-colour);
}

/* ====HERO==== */
.hero-title{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    
    color: var(--primary-text-color-theme-dark);
}
.hero-btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    
    color: var(--primary-text-color-theme-dark);
    background-color:var(--accent-color);
    cursor: pointer;
}
.hero{
    background-color: #2F303A;
}

/* ====MAIN==== */
.pluses-title{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}
.plusses-text{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: var(--secondary-colour);
}
.work-title,
.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.name{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
}
.job-title{
    font-size: 16px;
    line-height: 1.19;
    /* text-align: center; */
    letter-spacing: 0.03em;
    
    color: var(--secondary-colour);
}
.team{
    background-color: #F5F4FA;
}

/* ====Footer==== */
.address-link,
.contact-link{
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    
    color: rgba(255, 255, 255, 0.6);
}
.contact-link:hover,
.contact-link:focus{
    color: var(--primary-text-color-theme-dark);
}
.address-link:hover,
.address-link:focus{
    color: var(--primary-text-color-theme-dark);
}
.footer{
    background-color: #2F303A;
}
.logo-footer{
    color: var(--primary-text-color-theme-dark);
}
.address-link{
    color: var(--primary-text-color-theme-dark);
}


/* ====PORTFOLIO==== */
/* MAIN */
.filter-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
}
.filter-btn:hover,
.filter-btn:focus{
    color: var(--primary-text-color-theme-dark);
    background-color: var(--accent-color);
}
.example-text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    
    color: var(--secondary-colour);
}
.example-title{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
}
.work-example-title{
    background-color: var(--primary-text-color-theme-dark);
}
